// background
$primary-background: #ffffff;
$secondary-background: #f5f0ea;
$task-background: #c5e5e4;
$task-done-background: #99daba;
$task-create-background: #ececec;
$task-nav-background: #facd8a;

//text-color
$primary-text: #575556;
$secondary-text: #212322;
$other-text: #d0cdc8;
$task-today-text: #74c961;
$task-tomorrow-text: #5285c4;
